@charset "UTF-8";
@import url(https://lolstatic-a.akamaihd.net/webfonts/live/css/valorant/fonts.css);

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    background-repeat: no-repeat;
    vertical-align: inherit;
    white-space: inherit; 
    text-overflow: inherit; 
    text-shadow: inherit;
}

html {
    line-height: 1.15
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px
}
body {
    color: #ede8e0;
    fill: #333;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1.4
}
/*---------------BOTONES--------------*/
/*---------------BOTONES--------------*/
/*---------------BOTONES--------------*/
/*---------------BOTONES--------------*/
ul {
    list-style: none;
    padding: 0;
}
.filterlist{
    float: left;
}
.btnFilter {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    color: white;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: grey;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .btnFilter::before,
  .btnFilter::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
  }
  
  .btnFilter::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btnFilter::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btnFilter:active,
  .btnFilter:focus {
    outline: none;
  }
  
  .btnFilter:active::before,
  .btnFilter:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btnFilter:active::before {
    top: 3px;
  }
  
  .btbtnFiltern:active::after {
    bottom: 3px;
  }
  
  .btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
  }
  
  .btn__slide {
    display: block;
    position: absolute;
    top: 0; bottom: -1px; left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content {
    position: relative;
  }
  
  .btnFilter:hover {
    color: var(--button-text-color-hover);
  }
  
  .btnFilter:hover .btn__slide {
    width: calc(100% + 15px);
  }
  
  .btnFilter:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  
  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }
/*---------------------ANIMACIÓN---------------------*/
/*---------------------ANIMACIÓN---------------------*/
/*---------------------ANIMACIÓN---------------------*/
/*---------------------ANIMACIÓN---------------------*/
.hero-portrait-detailed .post {
    display: flex;
    text-decoration: none;
    color: white;
    max-width: 400px;
    position: relative;
    padding: 2rem;

    background-color: black;
    cursor: pointer;
}
.hero-portrait-detailed .post:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ff4655;
    transform-origin: 0 bottom 0;
    transform: scaleX(0);

    transition: all .15s ease;
}

.hero-portrait-detailed:hover .post:before,
.hero-portrait-detailed .post:hover:before {
    transform: scaleY(1);
}
.post-title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.333;
    transition: 0.4s ease-out;
}

body.ja-jp .hero-portrait-detailed>.container {
    height: 8rem
}


.hero-portrait-detailed:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    -webkit-box-shadow: inset 0 0 57px 14px #ffffffb5;
    box-shadow: inset 0 0 57px 14px #ffffffb5;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .1s;
    transition: all .1s;
    -webkit-transition: inherit;
    transition: inherit
}

.hero-portrait-detailed:hover {
    -webkit-transition: .1s cubic-bezier(.075, .82, .165, 1);
    transition: .1s cubic-bezier(.075, .82, .165, 1);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 10
}

.hero-portrait-detailed.m-selected:hover,
.hero-portrait-detailed.m-subdued:hover,
.hero-portrait-detailed:hover {
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    border-color: #fff
}

.hero-portrait-detailed.m-selected:hover:before,
.hero-portrait-detailed.m-subdued:hover:before,
.hero-portrait-detailed:hover:before {
    visibility: hidden;
    opacity: 0
}




.hero-portrait-detailed.m-selected:hover>.container,
.hero-portrait-detailed.m-subdued:hover>.container,
.hero-portrait-detailed:hover>.container {
    -webkit-transition: all .1s cubic-bezier(.075, .82, .165, 1);
    transition: all .1s cubic-bezier(.075, .82, .165, 1);
    

}

.hero-portrait-detailed.m-selected>.container .icon{
    fill: #ff4655;
}

.hero-portrait-detailed.m-selected:hover>.container .icon,
.hero-portrait-detailed.m-subdued:hover>.container .icon,
.hero-portrait-detailed:hover>.container .icon {
    fill: #ffffff
}

.hero-portrait-detailed.m-selected:hover .portrait-title,
.hero-portrait-detailed.m-subdued:hover .portrait-title,
.hero-portrait-detailed:hover .portrait-title {
    color: #ffffff
}

.hero-portrait-detailed>.portrait {
    width: 100%;
}

.hero-portrait-detailed>.container {

    margin-top: -4%;
    position: sticky;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 7rem;
    background: rgba(40, 53, 79, .9);
    -webkit-transition: all .1s;
    transition: all .1s;
    transform: scaleY(1);
    
    
}



.hero-portrait-detailed>.container>.icon {
    position: absolute;
    top: .8rem;
    left: .8rem;
    fill: #fff;
    -webkit-transition: inherit;
    transition: inherit
}

.hero-portrait-detailed>.container>.icon svg {
    height: 1.8rem;
    width: 1.8rem
}

.hero-portrait-detailed .portrait-title {
    line-height: normal;
    font-weight: lighter;
    font-size: 3.125rem;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    color: #d0d0dc;
    width: 100%;
    position: inherit;
    left: 0;
    bottom: 6px;
    -webkit-transition: inherit;
    transition: 0.4s ease-out;
}

.hero-portrait-detailed.m-selected>.container {
    background: rgba(255, 255, 255, 0.98)
}

.hero-portrait-detailed.m-selected .portrait-title {
    color: #ff4655
}

.hero-portrait-detailed.m-selected:before {
    visibility: visible;
    opacity: 1
}

.hero-portrait-detailed.m-subdued {
    opacity: .8;
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%)
}

.hero-pose {
    display: block;
    overflow: hidden
}

.hero-pose-image {
    display: block;
    height: 80vh;
    background-size: contain;
    background-position: 50%
}

.hero-pose-name {
    position: relative;
    z-index: 0;
    text-align: center;
    color: #fff
}

.hero-pose-subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center
}

.hero-pose-subtitle [data-ow-tooltip] .ow-Tooltip {
    -webkit-transform: translate(-50%, 93%);
    transform: translate(-50%, 93%)
}

.hero-pose-subtitle [data-ow-tooltip] .ow-Tooltip:after {
    border-color: transparent transparent #51658e;
    border-width: 0 15px 12px;
    top: -12px;
    bottom: auto
}

.hero-pose-subtitle [data-ow-tooltip].is-active .ow-Tooltip {
    -webkit-transform: translate(-50%, 40%);
    transform: translate(-50%, 40%)
}
/*ORDENADO DE <BODY> PARA ABAJO*/
#site {
    overflow: hidden
}
.u-container-background,
.u-container-background-cropped-mobile,
.u-full-width-container {
    display: block;
    width: 100%;
    max-width: 100%
}

.heroes-selector {
    background: url(https://i.pinimg.com/originals/93/69/11/936911b1b403e2b73aa88f51d6ddc8f3.png) no-repeat top, url(https://i.pinimg.com/originals/93/69/11/936911b1b403e2b73aa88f51d6ddc8f3.png) no-repeat bottom;
    background-color: #f6e9f0;
}

.u-container-nav-width,
.u-max-width-container,
.u-nav-width-container {
    width: 100%;
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:640px) {

    .u-container-nav-width,
    .u-max-width-container,
    .u-nav-width-container {
        padding-left: 30px;
        padding-right: 30px
    }
}

.u-container-nav-width,
.u-nav-width-container {
    max-width: 1600px
}

@media only screen and (min-width:0px) and (max-width:479px) {

    .u-container-max-width\@xs,
    .u-max-width-container\@xs {
        width: 100%;
        max-width: 1250px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (min-width:0px) and (max-width:479px) and (min-width:640px) {

    .u-container-max-width\@xs,
    .u-max-width-container\@xs {
        padding-left: 30px;
        padding-right: 30px
    }
}



.content-box,
.u-container-background,
.u-container-background-cropped-mobile {
padding-top: 44px;
padding-bottom: 44px
}

@media only screen and (min-width:962px) {

.content-box,
.u-container-background,
.u-container-background-cropped-mobile {
    padding-top: 72px;
    padding-bottom: 72px
}
}

.content-box.u-nav-offset,
.u-nav-offset.u-container-background,
.u-nav-offset.u-container-background-cropped-mobile {
padding-top: 92px
}

@media lg-min {

.content-box.u-nav-offset,
.u-nav-offset.u-container-background,
.u-nav-offset.u-container-background-cropped-mobile {
    padding-top: 120px
}
}

@media only screen and (min-width:1280px) {

.content-box.u-nav-offset,
.u-nav-offset.u-container-background,
.u-nav-offset.u-container-background-cropped-mobile {
    padding-top: 182px;
    background-color: #00f
}
}

.hero-selector .navigation-selector {
    margin-bottom: 64px
}

.hero-selector .hero-portrait-detailed {
    width: 100%;
    margin-bottom: 6px
}

@media only screen and (min-width:480px) {
    .hero-selector .hero-portrait-detailed {
        width: 176px;
        margin-right: 6px
    }
}

@media only screen and (min-width:640px) {
    .hero-selector .hero-portrait-detailed {
        width: 184px
    }
}

@media only screen and (min-width:962px) {
    body.ja-jp .heroes-index.hero-selector .hero-portrait-detailed .portrait-title {
        font-size: 2rem
    }
}

@media only screen and (min-width:640px) {
    body.ja-jp .heroes-index.hero-selector .hero-portrait-detailed .portrait-title {
        font-size: 1.6rem
    }
}

div>h4.hero-selector-intro {
    margin-top: 34px;
    color: #f3004a;
}

@media only screen and (min-width:962px) {
    div>h4.hero-selector-intro {
        margin-top: 100px
    }
}

.heroes-index.hero-selector {
    margin-top: 50px
}

.heroes-index.hero-selector .hero-portrait-detailed-container:hover {
    z-index: 1
}

.heroes-index.hero-selector .navigation-selector {
    margin-bottom: 50px
}

.heroes-index.hero-selector .heroes-container.shuffle {
    overflow: visible !important
}

.heroes-index.hero-selector .hero-portrait-detailed .container {
    display: table
}
.portrait-title{
font-family: Koverwatch, sans-serif
}



@media only screen and (min-width:640px) {
    .heroes-index.hero-selector .hero-portrait-detailed .portrait-title {
        font-size: 3.125rem
    }
}

.heroes-index.hero-selector .hero-portrait-detailed-container {
    position: relative;
    width: 49.5%;
    margin-right: .5%;
    margin-bottom: 0;
    height: 280px;
}

.heroes-index.hero-selector .hero-portrait-detailed-container:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 172%;
    height: 280px;
}

.heroes-index.hero-selector .hero-portrait-detailed-container>.hero-portrait-detailed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 280px;
    width: 100%;
}

.heroes-index.hero-selector .hero-portrait-detailed-container>.hero-portrait-detailed>.portrait {
    width: 100%
}

@media only screen and (min-width:480px) {
    .heroes-index.hero-selector .hero-portrait-detailed-container {
        width: 32.9%
    }
}

@media only screen and (min-width:640px) {
    .heroes-index.hero-selector .hero-portrait-detailed-container {
        width: 19.5%
    }
}

@media only screen and (min-width:962px) {
    .heroes-index.hero-selector .hero-portrait-detailed-container {
        width: 16.1%
    }
}

@media only screen and (min-width:1280px) {
    .heroes-index.hero-selector .hero-portrait-detailed-container {
        width: 13.8%
    }
}

.heroes-index.hero-selector .hero-portrait-detailed {
    margin-right: 0;
    margin-bottom: 0;
    overflow: hidden
}

.heroes-index.hero-selector .hero-portrait-detailed>.portrait {
    width: 100%
}
body.ko-kr .navigation-selector .navigation-link {
    font-family: BlackFit77, sans-serif
}

.navigation-selector {
    table-layout: fixed;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px
}

@media only screen and (min-width:962px) {
    .navigation-selector {
        width: auto;
        border-spacing: 1px
    }
}

.navigation-selector .navigation-list {
    display: table-row;
    padding: 0;
    margin: 0
}

.navigation-selector .navigation-item {
    width: 19.7%;
    display: table-cell;
    vertical-align: middle;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 2px;
    -webkit-transition: all .2s;
    transition: all .2s
}

@media only screen and (min-width:962px) {
    .navigation-selector .navigation-item {
        max-width: 162px;
        width: 162px;
        vertical-align: baseline
    }
}

.navigation-selector .navigation-item:first-child {
    margin-left: 0
}

.navigation-selector .navigation-item.active,
.navigation-selector .navigation-item:hover {
    background-color: #fff;
    -webkit-transition: none;
    transition: none
}

.navigation-selector .navigation-item.active .navigation-link,
.navigation-selector .navigation-item:hover .navigation-link {
    opacity: 1
}

.navigation-selector .navigation-link {
    padding: 8px 2px;
    text-transform: uppercase;
    font-family: FuturaNo2D, century gothic, arial, sans-serif;
    font-weight: 600;
    opacity: .7;
    width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: inherit;
    transition: inherit;
    white-space: nowrap
}

@media only screen and (min-width:480px) {
    .navigation-selector .navigation-link {
        padding: 14px 2px
    }
}

@media only screen and (min-width:962px) {
    .navigation-selector .navigation-link {
        height: auto;
        padding: 9px 10px
    }
}

.navigation-selector .navigation-link>.icon {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
    height: 22px;
    max-width: 22px;
    display: block;
    fill: #1a325e
}

@media only screen and (min-width:480px) {
    .navigation-selector .navigation-link>.icon {
        height: 30px;
        margin-bottom: 10px
    }
}

@media only screen and (min-width:962px) {
    .navigation-selector .navigation-link>.icon {
        height: 22px;
        display: inline-block;
        height: 18px;
        margin-right: 9px;
        margin-bottom: 3px
    }
}

.navigation-selector .navigation-link>.text {
    font-size: 1.28rem;
    line-height: 1rem;
    display: block
}

@media only screen and (min-width:640px) {
    .navigation-selector .navigation-link>.text {
        font-size: 1.6rem
    }
}

@media only screen and (min-width:962px) {
    .navigation-selector .navigation-link>.text {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.6rem
    }
}

.icon {
    height: 24px;
    width: 24px;
    fill: #f6f6f6;
    stroke: #f6f6f6;
    stroke-width: 0;
    position: inherit;
}

.Link,
a,
p,
span {
    white-space: normal;}

.Link,
a {
    text-decoration: none
}

.btn,
.button,
.Button,
button {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 1em;
    border-radius: 2px;
    border: 3px solid transparent;
    font-family: FuturaNo2D, century gothic, arial, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .025em;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    color: #fefefe
}

.blog-body .panel-group .panel .panel-heading .panel-title a img,
[data=blog-body] .panel-group .panel .panel-heading .panel-title a img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    z-index: 0
}

/*SIDEBAR CON API*/


.sidebar {
    overflow: hidden;
    position: fixed;
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: .5s left;
}

.sidebar.open {
    left: 0px;
}


.hidden-button-cross {
    display: none;
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 0;
    z-index: 9999;
}

#agent-background {
    float: left;
    position: fixed;
    width: 40%;
}

#sidebar-portrait-agent{
    float: left;
    width: 50%;
    padding-top: 100px;
    position: fixed;
}

#agent-name {
    position: fixed;
    margin: 0;
    top: 0;
    font-size: 11vw;
    color: gray;
    font-family: Tungsten-Bold,arial,georgia,sans-serif;
    text-transform:uppercase;
}

#description {
    font-size: medium;
    top: 220px;
    position: fixed;
    color: black;
    width: 40%;
    
}

#abilities {
    position: fixed;
    margin: 0;
    top: 360px;
}

#ab-title{
    display: block;
    margin-top: 0;
    color: gray;
}

#ab-description{
    font-size: small;
    color: white;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.agentfirst{
    height: 100%;
    width: 100%;
}

.half-right{
    float: right;
    width: 50%;
    justify-content: center;

}

.half-left{
    float: left;
    width: 50%;

}

/*TOOLTIP TEXT*/
.tooltip {
    position: absolute;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border: solid black 2px;
    visibility: hidden;
    width: 400px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    top: -50px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {

    z-index: 1000;
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .videoabilities{
      box-shadow: 10px 10px gray;
      position: absolute;
      right: 2%;
      bottom: 2%;
      width: 550px;
      z-index: 1;

      overflow: hidden;
  }
