@import url(https://lolstatic-a.akamaihd.net/webfonts/live/css/valorant/fonts.css);
.fotofondo {
    background-image: url("https://i.pinimg.com/originals/93/69/11/936911b1b403e2b73aa88f51d6ddc8f3.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: grayscale(70%);*/
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Anton', sans-serif;
    height: 900px;
}

@font-face {
    font-family: 'VALORANT';
    font-style: normal;
    font-weight: 400;
    src: local('VALORANT'), url('https://fonts.cdnfonts.com/s/37505/Valorant Font.woff') format('woff');
}

@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/anton/v23/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
li{
    font-family: 'Anton';
}

.overf {
    overflow-x: hidden;
}

* {

    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.bbar {
    /*background-color: black;*/

}

.bbar,
.bder {
    color: white;
    width: 100%;
    height: 30px;
    display: flex;
    text-align: center;
}

.bbder,
.bbizq {
    padding: 6px;
    padding-left: 40px;
}

.bizq {
    width: 100px;
    padding: 6px;
    padding-right: 40px;
}

header {
    height: 80px;
    /* background-color: rgba(30, 27, 27, 0.934); */
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(255, 255, 255, 0));
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.uptitle {
    color: white;
    font-size: 25px;
    padding: 20px;
    margin-left: 30px;
    font-family: 'VALORANT';

}

.titulo {
    font-family: 'Anton';
    font-weight: 100;
    font-size: 150px;
    position: absolute;
    position: inherit;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.289);
}

.title {
    font-size: 350%;
    color: white;
    font-family: 'Anton';
}

.textbox {
    display: block;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 12%;

}

.text-wepons,.text-maps  {
    display: block;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-left: 100px;
}

.subtitle {
    padding-top: 20px;
    color: rgb(152, 152, 152);
    width: 500px;
    line-height: 25px;
    font-size: large;

}

.subtitlesct {
    font-family: Anton;
    font-size: 20px;
    padding-bottom: 120px;
    width: 620px;
}

.izq {
    display: flex;
    justify-content: left;
}

.derech {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.imageag {
    width: 850px
}


h2 {
    font-weight: 30;
    width: 2000px;
    font-family: 'VALORANT', sans-serif;
}

.navtop {
    padding-top: 25px;
    margin-right: 40px;
    float: right;
    color: white;
}

.case {
    box-shadow: inset 0 30 0 #ff4763;
    transition: box-shadow .2s;
    display: inline;
    padding: 18px;
    font-size: 20px;
}

.mline {
    display: none;
    cursor: pointer;
}

.menu {
    display: none;
}

.bbder,
.bbizq,
.bizq {
    box-shadow: inset 0 15 0 #ffffff;
    transition: box-shadow .2s;
}

.bbder:hover,
.bbizq:hover,
.bizq:hover {
    box-shadow: inset 0 -3px 0 #ffffff;
}

.case:hover {
    margin: 0;
    box-shadow: inset 0 -5px 0 #ff4763;
}


.linea {
    float: left;
    width: 35px;
    height: 3px;
    border-bottom: 2px solid #ff4763;
    margin-left: 9%;
    margin-top: 165px;
}





.ll {
    padding-top: 20px;
    color: white;
    border-bottom: 2px solid #ff4763;
    border-bottom-width: 2px;
    width: 95px;
    display: inline-block;
}

/* Drop Down */
.dropdown-container {
    display: inline-block;
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid black;
    width: 200px;
    background-color: #ff4763;
}

.dropdown-content.open {
    display: block;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #80808024;
}

.dropdown-menu li:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    color: white;
}


.dropdown-menu li:last-child {
    border-bottom: none;
}


.my-svg {
    transform: rotate(0deg);
    transition: .3s transform;
}

.my-svg.open {
    transform: rotate(180deg);
}

/* Lateral Bar */
.open-button {
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-mainpage {
    background-color: #ff4763;
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: .5s left;
    border-left: solid;
    color: black;
    list-style: none;
}

.sidebar-mainpage.open {
    left: 0px;

}

.container {
    position: relative;
}

.hidden-button-cross {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

/*Scroll Top*/

.section {

    background-color: #ffffff;
    color: white;
    width: 100%;
}

.agents {
    background-color:
        /*#1d2331*/
        #210000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mapsect{
    height: 875px;

}
.mapsectup{
    background-color: red;
}
.mapsectdown{
    background-color: black;
}



.weapons {
    color: white;
    background-image: url("https://cdn.exputer.com/wp-content/uploads/2021/08/Opinion-Why-The-VALORANT-In-Game-Currency-System-Makes-No-Sense-Thumbnail-1536x864.jpg.webp");
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.Mapas {
    background-image: url("https://sm.ign.com/ign_in/screenshot/default/breeze-screenshot-map-02_f2yc.jpg");
    height: 750px;
    background-size: cover;


}

.Clipeo {
    background-image: url("https://assets-prd.ignimgs.com/2020/03/02/reveal-canopy-valorant-1583129902400.jpg");
    height: 650px;
    background-size: cover;
    background-position: center center;
}
.carousel-maps{
    width: 750px;
    margin-top: 170px;
    border-radius: 10px;
}
.carousel{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.carouseltamaño{
    width: 650px;
    padding: 20px;
    
}
.maps-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    
}
.coloc {
    float: left;
}

.clips {
    float: right;
    padding: 50px;
}

.arrow-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    opacity: 0;
    transition: .4s opacity;
}


.arrow-up.visible {
    opacity: 1;
}

svg {
    fill: #bdbdbd;

}




@media only screen and (max-width: 900px) {
    .textbox {
        padding-left: 10%;
    }

    .linea {
        margin-left: 3%;
    }

    .uptitle {
        text-overflow: ellipsis;
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    .bbar {
        display: none;
        padding: 0px;
    }

    nav {
        display: none;
        padding: 0px;
    }

    .uptitle {
        text-overflow: ellipsis;
    }

    .mline {
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        padding: 20px;
        color: #615c3b;
        filter: opacity(0.5) drop-shadow(0 0 0 #beb269);
    }

    .menu-mainpage {
        display: block;
        float: right;
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding-top: 20px;
        font-size: x-large
    }

    .subtitle {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .linea {
        display: none;
    }

    .textbox {
        padding-left: 10px;
        margin-top: 50px;
    }

    .title {

        font-size: 250%;
        color: white;
    }

}

/*----------------------------------------------*/
/*-------------------Introducedatos-------------*/
/*----------------------------------------------*/

.log {
    background-color: rgb(255, 255, 255);
    width: 432px;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Mapa,
.Personaje {
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 6px;
    font-size: 17px;
    padding-left: 10px;
    width: 123px;
    height: 40px;
    border-width: 3px;
    border-color: #e0e3e6;
    border-width: 2px;
}


.inpn {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 155px;
    height: 10px;
    border-color: #e0e3e6;
    border-width: 2px;
    background-color: #f5f6f7;
    border-style: solid;
}

.inpt {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 365px;
    height: 10px;
    border-width: 3px;
    border-color: #e0e3e6;
    border-width: 2px;
    background-color: #f5f6f7;
    border-style: solid;
}

.letter {
    text-align: center;
    font-size: 15px;
    color: #3e81f3;
}

.h2 {
    padding-bottom: 20px;
    width: 500px;
    height: 116px;
    margin: 0;
    font-weight: normal;
    font-size: 28px;
}

.bx {
    padding: 5px;
    width: 105px;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 6px;
    font-size: 17px;
    border-width: 3px;
    border-color: #e0e3e6;
    border-width: 2px;
    border-style: solid;
    padding-left: 5px;

}

.New {
    background-color: #ff4763;
    height: 36px;
    width: 186px;
    font-size: 17px;
    margin: 30px;
    margin-left: 100px;
    border-color: #ff4763;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}



/*----------------------------------------------*/
/*-------------------Botones---------------------*/
/*----------------------------------------------*/

:root {
    --background-color: #0f1923;
}

.btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */

    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);

    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.btn::before,
.btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

.btn::before {
    top: 0;
    border-bottom-width: 0;
}

.btn::after {
    bottom: 0;
    border-top-width: 0;
}

.btn:active,
.btn:focus {
    outline: none;
}

.btn:active::before,
.btn:active::after {
    right: 3px;
    left: 3px;
}

.btn:active::before {
    top: 3px;
}

.btn:active::after {
    bottom: 3px;
}

.btn__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
}

.btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
}

.btn__slide {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
}

.btn__content {
    position: relative;
    color: white;
}

.btn:hover {
    color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
    width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
}

.btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
}

/*ESTILOS PARA MAPAS*/

.label-maps {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

.form-maps {
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
.input-maps {
	position: absolute;
}


.input-maps:nth-of-type(1):checked ~ .label-maps:nth-of-type(1), 
.input-maps:nth-of-type(2):checked ~ .label-maps:nth-of-type(2),
.input-maps:nth-of-type(3):checked ~ .label-maps:nth-of-type(3),
.input-maps:nth-of-type(4):checked ~ .label-maps:nth-of-type(4),
.input-maps:nth-of-type(5):checked ~ .label-maps:nth-of-type(5),
.input-maps:nth-of-type(6):checked ~ .label-maps:nth-of-type(6),
.input-maps:nth-of-type(7):checked ~ .label-maps:nth-of-type(7){
   z-index: 0;
}

.input-maps:nth-of-type(1):checked ~ .label-maps {
	transform: translate(0);
}

.input-maps:nth-of-type(2):checked ~ .label-maps {
	transform: translate(-100.28%);
}

.input-maps:nth-of-type(3):checked ~ .label-maps {
	transform: translate(-200.59%);
}

.input-maps:nth-of-type(4):checked ~ .label-maps {
	transform: translate(-300.87%);
}
.input-maps:nth-of-type(5):checked ~ .label-maps {
	transform: translate(-401.18%);
}
.input-maps:nth-of-type(6):checked ~ .label-maps {
	transform: translate(-501.45%);
}
.input-maps:nth-of-type(7):checked ~ .label-maps {
	transform: translate(-601.74%);
}

.label-maps {
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
	background: #444;
	background-size: cover;
	font-size: 10rem;
}



.label-maps:before,
.label-maps:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.label-maps:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.label-maps:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}


#fracture{
    background-image: url("https://media.valorant-api.com/maps/b529448b-4d60-346e-e89e-00a4c527a405/splash.png");
}

#bind{
    background-image: url("https://media.valorant-api.com/maps/2c9d57ec-4431-9c5e-2939-8f9ef6dd5cba/splash.png");
}

#breeze{
    background-image: url("https://media.valorant-api.com/maps/2fb9a4fd-47b8-4e7d-a969-74b4046ebd53/splash.png");
}

#icebox{
    background-image: url("https://media.valorant-api.com/maps/e2ad5c54-4114-a870-9641-8ea21279579a/splash.png");
}

#ascent{
    background-image: url("https://media.valorant-api.com/maps/7eaecc1b-4337-bbf6-6ab9-04b8f06b3319/splash.png");
}

#heaven{
    background-image: url("https://media.valorant-api.com/maps/2bee0dc9-4ffe-519b-1cbd-7fbe763a6047/splash.png");
}
#split{
    background-image: url("https://media.valorant-api.com/maps/d960549e-485c-e861-8d71-aa9d1aed12a2/splash.png");
}
.footer{
    background-color: #0f1923;
}


.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.text-center{
    padding-top: 10px;
}